.ipynb_checkpoints/
.DS_Store
api_talk/. api_talk/.. api_talk/.DS_Store api_talk/.RData api_talk/.Rhistory api_talk/.Rprofile api_talk/.Rproj.user
api_talk/.Rproj.user
api_talk/api_talk.Rproj
api_talk/.RData api_talk/.Rhistory api_talk/.Rprofile api_talk/.Rproj.user
